#cerrar {
  background-image: url("../../assets/remove.png");
  background-repeat: no-repeat;
  background-size: 24px 24px;
  cursor: pointer;
  height: 24px;
  width: 24px;
}

.ceerarContent{
    margin: 5px 8px -20px 0px;
}

.modal-content {
    padding: 0px 0px 0px 77px;
}