<div class="ceerarContent">
    <i class="float-right pointer" mat-dialog-close id="cerrar"></i>
</div>
<h3 mat-dialog-title style="text-align: center;">Información de Millas</h3>
<mat-dialog-content>
            <p style="text-align: center;"><strong>Cantidad de Millas:</strong> 15,250</p>
            <mat-list>
                <mat-list-item style="text-align: center;">
                    <span matListItemTitle>Áreas de Descuento:</span>
                </mat-list-item>
                <div class="modal-content">
                    <ul style="text-align: justify; list-style-type:disc">
                    <li>10% en boletos internacionales</li>
                    <li>Acceso a salas VIP en aeropuertos</li>
                    <li>Upgrades gratuitos a clase ejecutiva</li>
                    <li>Descuentos en hoteles aliados</li>
                    </ul>
                </div>
            </mat-list>
</mat-dialog-content>

<!--<mat-list>
  <mat-list-item>
    <span matListItemTitle>This is the title</span>
  </mat-list-item>
  <mat-list-item>Also the title</mat-list-item>
</mat-list>-->
<!--<ul style="text-align: center;">
    <li>item</li>
</ul>-->